header{
    display: inline;
}

.sales{
    text-align: center;
    background: var(--color_6);
    padding: 20px;
}

.products{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 30px;
}

.products img{
    width: 240px;
    border-radius: 15px;
    border: 5px solid var(--color_4);
}

.product h2{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    margin-top: 10px;
    width: 250px;
    height: 50px;
}

.img_card{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.img_card:hover{
    transform: scale(1.05);
}

.card_tittle{
    font-size: 1.6rem;
}

.main_card{
    margin-top: 80px;
}

.buy_btn{
    background: var(--color_3);
    color: var(--color_5);
    margin: 10px;
    transition: transform 0.1s ease-in-out;
}

.buy_btn:hover{
    background: var(--color_4);
    transform: scale(1.1);
}