@import url('https://fonts.cdnfonts.com/css/intro-black');
:root{
    /* Fundo */
    --color_1:#850e35;
    --color_2: #ee6983; 
    --color_3: #ffc4c4;
    --color_4: #f3e6e6;
    --color_5: #5e4e4e;
    --color_6: #b08080;

    /* Fontes */
    --font_1: "Intro Regular", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font_1);
    color: var(--color_4);
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/home/fundo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

.btn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
}


.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 8px;
}

.logo{
    width: 120px;
}

.nav_container a{
    position: relative;
    color: var(--color_5);
    text-decoration: none;
}

.nav_container a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--color_5);
    position: absolute;
    bottom: 3px;
    left: 0px;
    transition: 0.3s ease-in-out;
    border-radius: 2px;
}

.nav_container a:hover::after{
    width: 100%;
}

main{
    width: 100%;
}

.main_tittle{
    width: 40%;
    margin: 9em 20px 20px 20px;
    padding: 20px;
}

.main_t_card{
    text-align: center;
}

.main_t_card h1{
    font-size: 40px;
    color: var(--color_2);
}

.main_t_card p{
    margin: 10px 0px 30px 0px;
    color: var(--color_5);
}

.social_btn{
    background: var(--color_2);
    width: 100%;
    height: 5em;
    margin: 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.5s ease;
    box-shadow: var(--color_1) 5px 5px 2px;
}

.social_btn:hover{
    transform: scale(1.1);
}

.social_btn label{
    color: var(--color_3);
    font-family: var(--font_1);
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left: 5px;
}

.social_btn img{
    vertical-align: middle;
    width: 40px;
}

.w img{
    width: 35px;
}
